.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}

html {
	font: normal 62.5%/1 Helvetica, Arial, sans-serif;
	background-color: #f1f1f1;
	color: #333;
	margin: 0;
	padding: 0;
}

body {
	width: 700px;
	margin: 20px auto;
	padding: 0;
	text-align: center;
}

h1 {
	font-size: 4em;
	text-shadow: 1px 1px 7px #999;
	margin: 0 0 0.4em;
}

p {
	font-size: 1.4em;
	line-height: 1.7em;
	margin: 0 0 1em;
}

.get-the-fuck-off {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 3px solid #B53336;
	background-color: #E51937;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.12) 0px 0px 10px inset;
  -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.12) 0px 0px 10px inset;
	color: #fff;
	font-size: 2em;
	padding: .5em 1em;
	cursor: pointer;
}

#event-ticket {
	width: 478px;
	text-align: left;
	float: right;
}

#event-ticket label {
	display: block;
	font-weight: bold;
	font-size: 1.4em;
	line-height: 1.7em;
}

#event-ticket textarea {
	margin-bottom: 1em;
	width: 400px;
	font-size: 1.2em;
	padding: 5px;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	min-height: 5em;
}

#event-ticket textarea:focus { outline: 0 none; }

#event-map {
	float: left;
	margin-right: 20px;
}

#do-over {
	margin-bottom: 3.6em;
}

#do-over input[type='submit'] {
	font-size: 1em;
	padding: .2em .4em;
}